<p><%= notice %></p>
<h1>Editing Book</h1>
<%= form_with model:@book,  local:true do |f| %>
<% if @book.errors.any? %>
<h2><%= @book.errors.count%>error prohibited this book from being saved::</h2>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
  <h4>title</h4>
  <%= f.text_field :title %>
  <h4>Body</h4>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %>
<% end %>
<%= link_to "Show", book_path(@book)%>｜<%= link_to "Back", books_path%>