<p id="notice">
 <%=  notice %>
</p>

<strong>Title</strong>:<%= @book.title %><br>

<strong>Body</strong>:<%= @book.body %>
<br>
<%= link_to "Edit", edit_book_path(@book) %>｜<%= link_to "Back", books_path%>
